@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

#banner {
    background-image: url('https://pbs.twimg.com/media/FBwJ-CpVUAIQEC5.jpg');
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 400px;
}

#trailer-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    background-color: #000;
}

.content-trailer {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trailer {
    width: 50%;
}

#sinopse {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.description {
    color: #fff;
    font-size: 19px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    width: 70%;
}

.btn {
    width: 200px;
    height: 60px;
    background-color: #d21617;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 15px;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}

@media (max-width:  1153px){
    nav {
        display: none;
    }

    #banner {
        background-position: 38%;
        margin-bottom: 100px;
    }

    #trailer-container {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
    }

    .content-trailer {
        width: 95%;
        margin-top: 12rem;
        display: flex;
        flex-direction: column;
    }

    .trailer {
        width: 100%;
        margin-left: 20px;
    }

    #sinopse {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .description {
        width: 100%;
    }

    .button {
        width: 100%;
        margin-top: 30px;
    }

    .cards-content {
        grid-template-columns: 1fr;
        margin-top: 150px;
        width: 90%;
    }

}