footer {
    background-color: #393939;
    color: #fff;
    height: 1100%;
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}

.content-rodape {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec {
    margin-right: 10%;
    margin-left: 10%;
}

.sec h2 {
    color: #FC1717;
}

.links h2{
    text-align: center;
    margin-left: 80px;
}

.links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 35px;
}

.links a {
    text-decoration: none;
    color: #FFF;
}

.links a:hover {
    color: #FC1717;
    transition: .5s;
}

.direitos {
    width: 100%;
    padding-top: 30px;
    text-align: center;
    color: #FC1717;
}

@media (max-width: 750px) {
    .content-rodape {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .links{
        margin-right: 40%;
    }
}